
@{
    ViewData["Name"] = "เมนูประสิทธิภาพ";
}

<style>
    .card:hover {
        background-color: #f0f5f5;
    }
</style>


<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
            <a href='@Url.Action("Index","Perfomance")'>
                <div class="card">
                    <div class="card-header">
                        การประเมินผลปฏิบัติงาน
                    </div>
                    <div class="card-body">
                        <img src="/Content/images/menu/check-mark.png" height="60" width="60">
                        การประเมินผลปฏิบัติงาน
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    ดูการประเมินสมถรรนะ (พฤติกรรม)
                </div>
                <div class="card-body">
                    <img src="/Content/images/menu/check-mark.png" height="60" width="60">
                    ดูการประเมินสมถรรนะ (พฤติกรรม)
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    แนบเอกสารหลักฐาน
                </div>
                <div class="card-body">
                    <img src="/Content/images/menu/check-mark.png" height="60" width="60">
                    แนบเอกสารหลักฐาน
                </div>
            </div>
        </div>

        <!-- row -->
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    สรุปผลการประเมิน
                </div>
                <div class="card-body">
                    <img src="/Content/images/menu/check-mark.png" height="60" width="60">
                    สรุปผลการประเมิน
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    รายงานสรุปผลการประเมิน
                </div>
                <div class="card-body">
                    <img src="/Content/images/menu/check-mark.png" height="60" width="60">
                    รายงานสรุปผลการประเมิน
                </div>
            </div>
        </div>
    </div>

</div>


