<ul>
    <li class="submenu">
        <a href='@Url.Action("Index","Home")' class="active" ><i class="fa fa-fw fa-bars"></i><span> เมนูหลัก </span> </a>
    </li>

    <li class="submenu">
        <a href='@Url.Action("Index","Perfomance")' class="active" ><i class="fa fa-fw fa-area-chart"></i><span> เมนูประสิทธิภาพ </span> </a>
    </li>
</ul>